@model List<Category>

<div class="container">
    <div class="row py-2">
        <div class="col-6">
            <h2 class="text-primary h5 m-0">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-sm btn-primary">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(x => x.Name))
        {
            <tr>
                <td class="py-1 px-2">@obj.Name</td>
                <td class="py-1 px-2">@obj.DisplayOrder</td>
                <td class="py-1 px-2 text-end">
                    <div class="btn-group btn-group-sm" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.CategoryId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.CategoryId" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


