@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Category</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <label asp-for="Title" class="p-0"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Description" class="p-0"></label>
        <input asp-for="Description" type="text" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Author" class="p-0"></label>
        <input asp-for="Author" type="text" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="ISBN" class="p-0"></label>
        <input asp-for="ISBN" type="text" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="ListPrice" class="p-0"></label>
        <input asp-for="ListPrice" type="text" class="form-control" />
        <span asp-validation-for="ListPrice" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Price" class="p-0"></label>
        <input asp-for="Price" type="text" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Price50" class="p-0"></label>
        <input asp-for="Price50" type="text" class="form-control" />
        <span asp-validation-for="Price50" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Price100" class="p-0"></label>
        <input asp-for="Price100" type="text" class="form-control" />
        <span asp-validation-for="Price100" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="CategoryId" class="p-0">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" type="text" class="form-control form-select">
            <option  selected>
                None
            </option>
        </select>
        @* <select asp-for="CategoryId" asp-items="@ViewData["CategoryList"] as IEnumerable<SelectListItem>" type="text" class="form-control form-select">
            <option selected>
                None
            </option>
        </select> *@
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="text-end">
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary btn-outline-dark form-control" style="width:150px">Back</a>
        <button type="submit" class="btn btn-primary form-control" style="width:150px">Save</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}