@model ProductVM

<form method="post">
    <input asp-for="Product.Id" hidden />
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Delete Product</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <label asp-for="Product.Title" class="p-0"></label>
        <input asp-for="Product.Title" disabled class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Description" class="p-0"></label>
        <input asp-for="Product.Description" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Author" class="p-0"></label>
        <input asp-for="Product.Author" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.Author" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.ISBN" class="p-0"></label>
        <input asp-for="Product.ISBN" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.ListPrice" class="p-0"></label>
        <input asp-for="Product.ListPrice" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Price" class="p-0"></label>
        <input asp-for="Product.Price" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Price50" class="p-0"></label>
        <input asp-for="Product.Price50" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.Price50" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Price100" class="p-0"></label>
        <input asp-for="Product.Price100" type="text" disabled class="form-control" />
        <span asp-validation-for="Product.Price100" class="text-danger"></span>
    </div>
    <div class="text-end">
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary btn-outline-dark form-control" style="width:150px">Back</a>
        <button type="submit" class="btn btn-danger form-control" style="width:150px">Delete</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

